.selectClass {
    text-align: center;
    padding: 100px;
    margin: 0 auto;
}

body {
    padding-left : 0px;
    margin : 0px;
    background-color: #FFEFD5;
}

footer {
    height: 120px;
    width:100%;
    text-align: center;
}


