.selectClass {
    text-align: center;
    padding: 100px;
}

.classType {
    display: inline-block;
    margin: 0 50px;
    &:hover{
        opacity: 0.4;
    }
    cursor: pointer;
}

body {
    padding-bottom: 150px;
    padding-left : 0px;
    margin : 0px;
}
footer {
    text-align:center;
    position:fixed;
    bottom:0;
    height: 120px;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: black;
}


